<div class="row no-gutters bg-light">
  <div class="col-12">
    <div class="card bg-light border-0">
      <div class="card-body">
        <h5 class="card-title">
          <span *ngIf="index > 0" class="text-muted">{{ index }}.</span>
          <a href="#"><span class="text-muted">&#x25B2;</span></a>
          <a href="{{ item?.url }}">{{ item?.title }}</a>
          <span *ngIf="item?.url" class="text-muted"> (<a href="{{ getOtherItemsURI() }}" class="card-link">{{ getHostname() }}</a>)</span>
        </h5>
        <h6 class="card-subtitle text-muted ml-4">
          <span class="pr-1">{{ item?.score }} points</span>
          <span class="pr-1"> by <a href="{{ getUserURI() }}"> {{ item?.by }}</a></span>
          <span class="pr-1"><a *ngIf="item" [routerLink]="['item', item?.id]">{{ item?.time * 1000 | date }}</a></span>
          <span class="pr-1">| <a href="{{ getHideURI() }}">hide</a></span>
          <span>| <a *ngIf="item" [routerLink]="['item', item?.id]">{{ item?.descendants }} comments</a></span>
        </h6>
      </div>
    </div>
  </div>
</div>

