<div class="row no-gutters bg-light">
  <div class="col-12">
    <div class="card bg-light border-0">
      <div class="card-body">
        <h5 class="card-title">
          <span>{{ index }}.</span>
          <span>&#x25B2;</span>
          {{ item?.title }} <span class="text-muted">(<a href="#" class="card-link">{{ item?.url }}</a>)</span>
        </h5>
        <h6 class="card-subtitle text-muted ml-4">
          <span class="pr-1">{{ item?.score }} points</span>
          <span class="pr-1">by {{ item?.by }}</span>
          <span class="pr-1"><a href="#">3 hours ago</a></span>
          <span class="pr-1">| <a href="#">hide</a></span>
          <span>| <a href="#">105 comments</a></span>
        </h6>
      </div>
    </div>
  </div>
</div>

