<h1>Hacker News Clone</h1>

<div *ngIf="loading$ | async">
  <p>Loading</p>
</div>

<div *ngIf="item$ | async as item">
  <h2>{{ item?.title }}</h2>
  <p>
    item id: {{ item?.id }}
  </p>
</div>

<div *ngIf="latestItemId$ | async as latestItemId">
  <p>
    latest item id: {{ latestItemId }}
  </p>
</div>

<div *ngIf="topItemIds$ | async as topItemIds">
  <p>
    top item ids: {{ topItemIds }}
  </p>
</div>

<div *ngIf="newItemIds$ | async as newItemIds">
  <p>
    new item ids: {{ newItemIds }}
  </p>
</div>

<div *ngIf="error$ | async as error">
  <p>
    {{ error }}
  </p>
</div>
